main{
    color: white;
}

article {
    margin-left: 50px;
}

aside {
    margin: auto auto 40px 50px;
}

article div{
    margin-top: 20px;
}

footer h3{
    text-decoration: none;
}

h2{
    background-color: #337CA0;
}

h3{
    text-decoration: underline;
    color: white;
}

i{
    display: block;
    text-align: center;
    margin: 20px auto 30px auto
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: auto;
    width: 70%;
}

.intro p{
    margin-top: 25px;
    padding-left: 20px;
}

.intro img{
    border-radius: 50px;
}

.formations {
    display: flex;
    margin: auto;
    max-width: 70%;
    justify-content: space-between;
}

.formation {
    border: 2px solid #E15A97;
    background: linear-gradient(#337CA0, #71CBF8);
    color: #140F2D;
    border-radius: 15px;
    padding: 5px 20px 20px 20px;
    width: 40%;
    box-shadow: 6px 8px rgba(0, 0, 0, 0.6);
}

.formation span{
    color: white;
}

span {
    color :#E15A97
}

.boutons {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 40%;
    justify-content: space-between;
}

a .bouton{
    text-decoration: none;
    background: linear-gradient(180deg, #71CBF8, #337CA0, #71CBF8);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 1s ease;
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 20px 15px;
    display: inline-block;
    width: 100%;
    
}

a .bouton:hover{
    background-position: bottom;
}


@media  (max-width:412px) {
    article{
        margin: auto;
    }
    h2{
        text-align: center;
        margin: auto;
    }
    h2{
        margin: 30px auto;
    }
    h3{
        margin-bottom: 10px;
    }
    .formations{
       align-items: center;
    } 
    .formation {
        width: 100%;
        margin: 20px 0;
    }
    article p {
        width: 70%;
    }
    .bouton {
        margin: 20px 30px;
        padding: 10px 5px;    
        max-width: 60%;
    }
    .boutons {
        width: 70%;
        margin: auto 10px;
    }
}
