
a:hover{
    text-decoration: none ;
}

.element p{
    padding: 15px;
    text-decoration: none;
    color: white;
}

.element a {
    text-decoration: none;
}

.element img{
    border-radius: 15px;
    height: 50%;
}

.IntroSection{
  margin: 30px auto 20px 70px;
  color: white;
}

.projets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    flex-wrap: wrap;
    gap: 40px;
    width: 90%;
    margin: 30px auto;
    height: auto;
    justify-content: center;
}

.element {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    min-width: 300px;
    height: 100%;
    background: linear-gradient(180deg, #E15A97, #337CA0, #E15A97);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 1s ease;
    margin-bottom: 20px;
    font-size: 1em;
    box-shadow: 8px 12px rgba(0, 0, 0, 0.6);
    width: 100%;
    border: 2px solid #2A2D34;
}

.element:hover{
    background-position: bottom;
    border: 2px solid #2A2D34
}

.element:hover img{
    opacity: 1;
}

.element:hover p{
    color: white;
}
.screen {
    width: 100%;
    min-width: 300px;
    padding: 0px;
    object-fit: cover;
}


h3{
    margin: 0px auto 5px 0px;
    text-align: center;
    color: white;
    background-color:#337CA0;
    border: 1px solid #1F2039;
    box-sizing: border-box;
    width: 100%;
    transition: all 2s;
}
#bientot{
    text-align: center;
    margin: auto;
}


@media screen and (max-width : 1200px) {
    p{
        font-size: 0.9em;
    }

    h3 {
        font-size: 1em;
    }

    h2{
        font-size : 1.4em
    }
}

@media  (max-width:412px) {
    p{
        font-size: 0.8em;
    }
    .IntroSection {
        margin: 20px 30px;
    }
    .projets {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 350px;
        margin-bottom: 50px;
    }
    .element {
        margin: 20px auto;
    }
    .element img {
        max-height: 50%;
    }

    h2{
        font-size: 1em;
        margin: 20px auto;
    }
    #bientot{
        max-height: 60%;
        margin-top: 20px;
    }
}